  #home{
    padding-top: 15%;
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    background: rgba(0,0,0,0);
  }
  .hero-text p{
      font-size: 1.8rem;
    }

    .hero-text h1{
      font-size: 7rem;
    }

    .hero-text h3{
      color:var(--green);
      margin: 1rem 0;
    }

    .small-resume {
      margin-bottom: 5rem;
    }

  .button{
    margin-top: 5rem;
    padding: 1.4rem 6rem;
  }

  .hero-image img{
      max-width: 500px;
  }


  @media(max-width: 960px){
    #home{
    display: block;
    margin-top: 15%;
    }

    .hero-text h1{
      font-size: 5rem;
    }
    
    .hero-image{
      display: none;
    }
  }

  @media(max-width: 600px){
    #home{
      margin-top: 25%;
    }
  }

  @media(max-width: 480px){
    #home{
      margin-top: 35%;
    }
  }